{{- /* Minimalist Language Switcher */ -}}
{{- $lang := .Lang -}}
{{- $translations := slice -}}
{{- if .IsTranslated -}}
{{- $translations = .AllTranslations -}}
{{- else -}}
{{- $translations = site.Home.AllTranslations -}}
{{- end -}}

{{- if gt (len $translations) 0 -}}
<ul class="lang-switch">
  {{- range $translations -}}
  {{- if ne $lang .Lang }}
  <li>
    <a href="{{ .RelPermalink }}" aria-label="{{ .Language.LanguageName | default (.Lang | title) }}">
      {{- .Lang | upper -}}
    </a>
  </li>
  {{- end -}}
  {{- end -}}
</ul>
{{- end -}}